<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Job Board app here</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h3> Welcome! Please login to the job board app</h3>


    <div class="container">


        <div class="reg">
            <h3>Registration </h3>

            <form action="registerProcess" method="POST" th:action=" @{/register}" th:object="${userObject}">
                <p th:errors="*{firstname}"></p>
                <p th:errors="*{lastname}"></p>
                <p th:errors="*{email}"></p>
                <p th:errors="*{password}"></p>
                <p th:errors="*{confirm_password}"></p>
                <p>First Name:</p>
                <p><input type="text" th:field="*{firstname}" /></p>
                <p>Last Name:</p>
                <p><input type="text" th:field="*{lastname}" /></p>
                <p>Email:</p>
                <p><input type="text" th:field="*{email}" /></p>
                <p>Password:</p>
                <p><input type="text" th:field="*{password}" /></p>
                <p>Confirm Password:</p>
                <p><input type="text" th:field="*{confirm_password}" /></p>
                <input type="submit" value="Register" />
            </form>

        </div>

    </div>

</body>

</html>